/* You can add global styles to this file, and also import other style files */
html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', 'Lucida Grande',
    'Helvetica Neue', 'Helvetica', 'Arial', 'PingFangSC', 'Hiragino Sans GB',
    'Hiragino Sans GB W3', 'Microsoft YaHei', sans-serif;
}

button,
input,
select,
textarea,
p,
a {
  font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', 'Lucida Grande',
    'Helvetica Neue', 'Helvetica', 'Arial', 'PingFangSC', 'Hiragino Sans GB',
    'Hiragino Sans GB W3', 'Microsoft YaHei', sans-serif;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.lead {
  font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', 'Lucida Grande',
    'Helvetica Neue', 'Helvetica', 'Arial', 'PingFangSC', 'Hiragino Sans GB',
    'Hiragino Sans GB W3', 'Microsoft YaHei UI', sans-serif;
}
