<aui-layout>
  <div *auiNavDrawerHeader>
    <img src="http://www.alauda.cn/Public/Home/images/logo.png">
  </div>
  <aui-nav *auiNavDrawerContent>
    <aui-nav-item routerLink="/home"
                  routerLinkActive
                  #rlaHome="routerLinkActive"
                  [active]="rlaHome.isActive">
      Home
    </aui-nav-item>
    <aui-nav-item routerLink="/demo"
                  routerLinkActive
                  #rlaDemo="routerLinkActive"
                  [active]="rlaDemo.isActive">
      Demo Async Module
    </aui-nav-item>
  </aui-nav>

  <div *auiToolbarContent>
    Some toolbar content
  </div>
  <div *auiPageHeader>
    Page Header
  </div>
  <div *auiPageContent>
    <mat-icon svgIcon="app-logo"></mat-icon>
    <router-outlet></router-outlet>
  </div>
</aui-layout>
