<aui-table auiSort
           [dataSource]="list$"
           (auiSortChange)="sortData($event)">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef
                           aui-sort-header>{{ 'name' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">{{ item.name }}</aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="namespace">
    <aui-table-header-cell *auiTableHeaderCellDef
                           aui-sort-header>{{ 'namespace' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">{{ item.namespace }}</aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="kind">
    <aui-table-header-cell *auiTableHeaderCellDef
                           aui-sort-header>{{ 'kind' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">{{ item.kind }}</aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="groupVersion">
    <aui-table-header-cell *auiTableHeaderCellDef
                           aui-sort-header>{{ 'version' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">{{ item.groupVersion }}</aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="creationTimestamp">
    <aui-table-header-cell *auiTableHeaderCellDef
                           aui-sort-header>{{ 'created_at' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">{{ item.creationTimestamp }}</aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="['name', 'namespace', 'kind', 'groupVersion', 'creationTimestamp']"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: ['name', 'namespace', 'kind', 'groupVersion', 'creationTimestamp'];"></aui-table-row>
</aui-table>
